<section class="container">
    <header class="header d-flex">
      <h2 class="ff-inter">Meu Mural</h2>
      <button (click)="navegarParaCriarPensamento()" class="botao">Adicionar pensamento</button>
      <div class="mural" *ngIf="listaPensamentos.length > 0, else SemPensamentos">
        <div *ngFor="let pensamento of listaPensamentos">
          <app-pensamento [pensamento]="pensamento" ></app-pensamento>
        </div>
      </div>
    </header>
  </section>

  <ng-template #SemPensamentos>
    <div class="ff-inter sem-pensamentos">
      <p>Ainda não há pensamentos cadastrados.</p>
    </div>
  </ng-template>